/* font size table  */
.fs-14-12 {
  font-size: 14px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .fs-14-12 {
    font-size: 10px;
    font-weight: bold;
  }
}

/* formulario agregar css */
.card-glass {
  height: auto;
  padding: 2rem;
  border-radius: 1rem;
  font-size: 1rem;
  color: white;
}

.card-title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.card p {
  margin-bottom: 1.5rem;
}

.card-glass {
  background: #3b34f8a1;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1.5px solid rgba(1, 35, 255, 0.914);
}

.banner-image-container {
  position: relative;
  overflow: hidden;
  max-height: 450px;
  margin-bottom: 20px;
}

.banner-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.banner-image:hover {
  transform: scale(1.1);
}
